body {
    background: #685268;
    justify-content: center; align-items: center;
    user-select: none; -webkit-user-select: none;
    -moz-user-select:none; -ms-user-select: none;
    overflow: hidden; display: flex; margin: 0;
}
#cv{ display:none }
#timeMetr, #debug, #position {
    background: rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    padding: 5px; color: #fff;
}

#position { position: absolute; margin: -40px 0 0 100px; }
#timeMetr { position: absolute; margin: -40px 0 0 -5px; }
#debug { display: none; position: absolute; top: 40px; left: 5px; }

.tab.active {
    border-bottom: 3px solid #fff;
    background-color: #fff;
    z-index: 1; top: 0px;
}

.tab-content { display: none; padding: 20px; }.active { display: block; }

.tabs {
    border-top: 2px solid #fff;
    display: flex; padding-bottom: 3px;
    justify-content: flex-start; align-items: flex-end;
}

#tab-view, .tab-container {
    display: block; width: 100%; height: 100%;
    align-items: center; justify-content: center;
}

.tab, .tab::before {
    position: relative; top: -1px;
    border-radius: 12px 12px 0 0;
    transform: rotateX(180deg);
}

.tab {
    cursor: pointer;
    padding: 0 30px;
    margin-right: 0px;
    background-color: #ccc;
}.tab-text { transform: rotateX(180deg); }

.exit-button {
    color: white;
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 7px 0px 7px 7px;
    position: absolute;
    top: 0px; right: 0px;
    background-color: red;
}